@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

}

:root{
    --main-color: #F40612;
    --text-color: rgb(9, 9, 9);
    --bg-color: white;
}

/* custom scroll bar*/

html::-webkit-scrollbar{
    width: 0.4rem;
    background:var(--text-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--text-color);
    color: var(--bg-color);

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    transition: 0.7s;
}

section{
    padding: 4.5rem 0 1.5rem;
}
/*
header.shadow{
    background:var(--text-color);
    box-shadow: 0 0 4px rgba(14, 55, 54, 15%);
}
*/

header.sticky{

    padding: 15px 100px;
    background: black;
}

.mainlogo #logolol{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
}


.navbar{
    display: flex;
    column-gap: 5rem;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1rem;
    font-weight: 700;
    color: var(--bg-color);
}

.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after, .navbar .home-active::after{
    width: 100%;
}

#menu-icon{
    font-size: 28px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.tele{
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    color: #269CD9;
}

.tele:hover{
    color: red;
    transition: 0.8s;
}

.container{
    width: 100%;
    min-height: 735px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(2, 3, 7, 0.4);
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 1rem !important;
    background: var(--main-color) !important;
}

.home-text{
    z-index: 1000;
    padding: 0 100px;
}

.home-text span{
    color: var(--bg-color);
    font-weight: 700;
    text-transform: uppercase;
}

.home-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    font-family: Helvetica, sans-serif;
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
    text-transform: uppercase;
    color: var(--bg-color);
    background-color:rgba(0, 0, 0, 0.353);
    border: 2px solid var(--main-color);
    border-radius: 40px;
    font-family: tahoma;
    font-weight: bolder;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.834);
    transition: all 0.6s;
}

.btn:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 0 10px 40px rgba(192, 0, 0, 0.662);
    transition: all 0.6s;
}

.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}

.play .bx{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgba(2, 3, 7, 0.4);
    color: var(--main-color);
}

.play .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

/* movies */

.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.poster .poster-img{
    cursor: pointer;
    width: 100%;
    height: 270px;
}

.poster .poster-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster .poster-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.poster h3{
    font-size: 0.9rem;
    font-weight: 600;
}

.poster span{
    font-size: 13px;
}

.hollywood-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.hollywood-container .poster-img img:hover{

   /* transform: translateY(0);*/
}

.hollywood-container .poster{
    width: 100px;
}

.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    right: 100px;
    display: flex;
    justify-content: end;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    background: var(--text-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgba(2, 3, 7, 0.4);
    color: var(--main-color);
}

.social .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.copyright{
    padding: 20px;
    color: var(--bg-color);
    text-align: center;

}

@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}

@media (max-width: 991px) {
    header{
        padding: 18px 4%;
    }
    
    section{
        padding: 50px 4%;
    }

    .home-text {
        padding: 0 4%;
    }

    .home-text h1{
        font-size: 3rem;
    }
}

@media (max-width: 774px) {
    header{
        padding: 12px 4%;
    }

    #menu-icon{
        display: initial;
        color: var(--bg-color);
    }

    header.shadow #menu-icon{
        color: var(--bg-color);
    }

    .navbar {
        position:absolute;
       top: -570px;  /* animation for navbar in phone screen*/
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14, 55, 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }

    .navbar a{
        width: 100%;
        color: var(--bg-color);
    }

    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }

    .navbar a::after{
        display: none;
    }

    .navbar.active{
        top: 100%;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
    
}

@media (max-width: 520px){

    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}

@media (max-width: 408px){
    header{
        padding: 6px 4%;
    } 

    .home-text h1{
        font-size: 1.7rem;
    }

    .play{
        right: 2rem;
        bottom: 8%;
    }

    .play .bx{
        padding: 7px;
    }

    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }

    .poster .poster-img{
        height: 240px;
    }
}